.m-h {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  background-color: #edfff1;
  color: #120610;
  font-size: 28px;
  padding: 25px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.goTop {
  cursor: pointer;
  transition: 0.3s all linear;
}
.goTop:hover {
  cursor: pointer;
  color: darksalmon;
}

@media screen and (max-width: 768px) {
  .m-h {
    font-size: 18px;
  }
}
